#exec rpws init 4 -k

#bind f exec chromium
bind f exec firefox
bind q exec quodlibet

definekey top XF86AudioRaiseVolume exec amixer -q set Master 5+ unmute; ratpoison -c "echo `audio_status`"
definekey top XF86AudioLowerVolume exec amixer -q set Master 5- unmute;  ratpoison -c "echo `audio_status`"
definekey top XF86AudioMute exec amixer -q set Master toggle; exec amixer -q set Master 0; ratpoison -c "echo `audio_status`"

#bind F2 exec xscreensaver-command -lock

bind c exec alacritty
bind C-c exec alacritty
#bind c exec xterm
#bind C-c exec xterm

bind C-a exec ratpoison -c "echo `/bin/acpi -b`"
bind F4 exec sudo systemctl suspend
#bind F5 exec sudo systemctl shutdown

bind L exec xscreensaver-command -lock

bind q exec quodlibet
bind F1 exec scrot -M 1 'var/shots/%Y_%m_%d_%H%M%S.png'
bind F2 exec scrot -s 'var/shots/%Y_%m_%d_%H%M%S.png'

set winname class

alias reload exec ratpoison -c "source /home/jack/.ratpoisonrc"
